  <div class="row" style="margin-right: 0px;">
      <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid black">
    <h5 class="text-center">User Profile</h5>
      </div>
    <div class="col-lg-2 col-md-2 col-sm-2" style="border: 1px solid black">
      <h2>intern nexsus</h2>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7" style="border: 1px solid black; background-color:#273646;">
      <div class=col-lg-12 style="border: 1px solid black; margin-top:-10px; background-color:#273646; border-radius: 15px;">
        <p style="color: aliceblue;">Edit Profile</p>
        <p style="color: aliceblue">Complete your profile</p>
    </div>
    <Form>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4" style="color: aliceblue;">User Name</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="User Name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" style="color: aliceblue;">Email Address</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder=" Enter Email">
              </div>
              <div class="form-group col-md-6">
                  <label for="inputPassword4" style="color: aliceblue;">First Name</label>
                  <input type="password" class="form-control" id="inputPassword4" placeholder="Enter First Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4" style="color: aliceblue;">Second Name</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Enter Second Name">
                  </div>
                  <div class="form-group col-md-12">
                      <label for="inputAddress" style="color: aliceblue;">Phone Number</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="Enter Phone Number">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAddress2" style="color: aliceblue;">Birthday</label>
                        <input type="date" class="form-control" id="inputAddress2">
                      </div>
                      <div class="form-group col-md-12">
                          <label for="inputAddress" style="color: aliceblue;">University</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="Enter University Name">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputAddress" style="color: aliceblue;">College Name</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Enter College Name">
                          </div>
                          <div class="form-group col-md-12">
                              <label for="inputAddress" style="color: aliceblue;">preferred field of Intership</label>
                              <input type="text" class="form-control" id="inputAddress">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputAddress" style="color: aliceblue;">preferred location of Intership</label>
                                <input type="text" class="form-control" id="inputAddress">
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="inputAddress" style="color: aliceblue;">Location 1</label>
                                  <input type="text" class="form-control" id="inputAddress">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAddress" style="color: aliceblue;">Location 2</label>
                                    <input type="text" class="form-control" id="inputAddress">
                                  </div>
                                  <div class="form-group col-md-12">
                                      <label for="inputAddress" style="color: aliceblue;">Location 3</label>
                                      <input type="text" class="form-control" id="inputAddress">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputAddress" style="color: aliceblue;">Course</label>
                                        <input type="text" class="form-control" id="inputAddress">
                                      </div>
                                      <div class="form-group col-md-6">
                                          <label for="inputAddress" style="color: aliceblue;">Stream</label>
                                          <input type="text" class="form-control" id="inputAddress">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputAddress" style="color: aliceblue;">Number Of Backlogs:</label>
                                            <select class="form-control">
                                              <option>1</option>
                                              <option>2</option>
                                              <option>3</option>
                                              <option>4</option>
                                              <option>4</option>
                                              </select>
                                          </div>
                                          <div class="form-group col-md-6">
                                              <label for="inputAddress" style="color: aliceblue;">Year Gap::</label>
                                              <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputAddress" style="color: aliceblue;">state</label>
                                                <input type="text" class="form-control" id="inputAddress" placeholder="Enter State">
                                              </div>
                                              <div class="form-group col-md-6">
                                                  <label for="inputAddress" style="color: aliceblue;">City</label>
                                                  <input type="text" class="form-control" id="inputAddress" placeholder="Enter City">
                                                </div>
                                                <div class="form-group col-md-12 text-center">
                                                    <input class="btn btn-primary" type="submit" value="Submit"/> 
                                                </div>
                                                
                   </div>

    </Form>
    </div>
    <div class="col-lg-3 col-md-3 col-md-3 text-center" style="border: 1px solid black;">
      
          <img src="../../assets/image/images.jpg"/>  
      </div>
      
    
  
  </div>
    
       
    
        
    

